 @font-face {
  font-family: "Pokemon Pixel Font";
  src: url('../font/pokemon_pixel_font.ttf');
}

.label, .combo-box {
	-fx-font-family: "Pokemon Pixel Font";
}

#view {
    -fx-background-image:url('../images/battle-background.png');
    -fx-background-size:100.0% 100.0%;
}

.slider .track{
	-fx-background-color:#76db9a;
	-fx-pref-height:15.0px;
	-fx-background-radius:0.0;
}

.slider .thumb{
	-fx-background-radius:0.0;
	-fx-pref-height:15px;
	-fx-pref-width:5.0px;
}

.button{
	-fx-font-family: "Pokemon Pixel Font";
	-fx-font-size: 18px;
	-fx-background-radius: 0.0px;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-color:#d98c50;
	-fx-background-radius: 5.0em;
	-fx-border-radius: 10.0em;
	-fx-border-color:black;
}

.button:hover{
	-fx-text-fill: #d98c50;
	-fx-background-color: black;
}


.combo-box-base{
	-fx-font-size: 18px;
    -fx-background-color:#CD853F;
    -fx-padding: 2 2;
}

.list-cell {
	-fx-font-family: "Pokemon Pixel Font";
	-fx-font-size:18px;
	-fx-background-color: #CD853F;
}

.list-cell:hover {
	-fx-background-color: black;
	-fx-text-fill: #CD853F;
}

.list-cell:selected {
	-fx-background-color: #CD853F;
	-fx-text-fill: white;
}

.progress-bar {
	-fx-accent: #76db9a;
}

